
.Rproj.**
.Rproj.user
data/**
ModelExperiment-1.Rproj
.Rhistory
src/_Ablage/
data - Kopie
data/ne_110*
data/nicht_hochladen
data/_Ablage


src/internal_scripts

src/main_prepare_data_to_publish.R
src/main_figure_a.r
